{% extends "base.html.twig" %}

{% block title %}
	la page admin
{% endblock %}

{% block body %}
	<h1>
		la page de l'admin
	</h1>

	<br/><br/>
	<div>
    {% include "menu_admin.html.twig" %}
	</div>
w
{% endblock %}
