{% extends "base.html.twig" %}

{% block title %} Les catégories{% endblock %}

{% block body %}
<h1> Vous êtes à la rubrique des catégories </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>

{% endblock %}