{% extends "base.html.twig" %}

{% block title %} La gestion des contenus! {% endblock %}

{% block body %}
<h1> La gestion des contenus </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>

{% endblock %}