{% extends "base.html.twig" %}

{% block title %} Gestionn des images {% endblock %}

{% block body %}
<h1> Gestion des images! </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>
{% endblock %}