{% extends "base.html.twig" %}

{% block title %} La page location{% endblock %}

{% block body %}
<h1> Gestion des locations </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>
{% endblock %}