{% extends "base.html.twig" %}
{% block title %} page de la configuration du système! {% endblock %}

{% block body %}
<h1> La page du système </h1>

<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>
{% endblock %}