{% extends "base.html.twig" %}

{% block title %} page de la gestion des utilisateurs! {% endblock %}

{% block body %}
<h1> Gestion des utilisateurs! </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>
{% endblock %}