{% extends "base.html.twig" %}

{% block title %} nous contacter!{% endblock %}

{% block body %}

<h1> Nous contacter </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>
{% endblock %}