{% extends "base.html.twig" %}

{% block title %} la page des livres!{% endblock %}

{% block body %}
<h1> Vous êtes à la page des livres </h1>
<br/><br/>
<hr/>
<br/><br/>

<div> {% include "menu_general.html.twig" %} </div>

{% endblock %}