{% extends "base.html.twig" %}

{% block title %} Bienvenu(e) à la page perso! {% endblock %}

{% block body %}

<h1> Votre page perso! </h1>
<br/><br/>
<hr/>
<br/><br/>

<div>
{% include "menu_user.html.twig" %}
</div>
{% endblock %}